In [1]:
import numpy as np
import pandas as pd

In [6]:
df=pd.read_csv('spam.csv',encoding='ISO-8859-1')

In [7]:
df.head(2)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN

In [8]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5282,ham,I have gone into get info bt dont know what to do,NaN,NaN,NaN
713,ham,Save yourself the stress. If the person has a ...,NaN,NaN,NaN
3554,spam,From next month get upto 50% More Calls 4 Ur s...,NaN,NaN,NaN
643,ham,Ya very nice. . .be ready on thursday,NaN,NaN,NaN
4125,spam,"SPJanuary Male Sale! Hot Gay chat now cheaper,...",NaN,NaN,NaN

In [9]:
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [10]:
df.shape

(5572, 5)

In [ ]:
df['']